<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974065689662-b3gejqt4miku2nfoab398ff1nfjqmafo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974065689662-b3gejqt4miku2nfoab398ff1nfjqmafo</string>
	<key>API_KEY</key>
	<string>AIzaSyB2-1EsmoTaHPKWJwhwDDcC8A5eQMRxjwY</string>
	<key>GCM_SENDER_ID</key>
	<string>974065689662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaraad.Hinesight</string>
	<key>PROJECT_ID</key>
	<string>hinesight-7a1c1</string>
	<key>STORAGE_BUCKET</key>
	<string>hinesight-7a1c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974065689662:ios:e0ce986d8af22710f9dd6f</string>
	<key>DATABASE_URL</key>
	<string>https://hinesight-7a1c1.firebaseio.com</string>
</dict>
</plist>